@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-cardo: 'Cardo', serif;
  --clr-white: #fff;
  --clr-black: #2d3033;
  --clr-gray-light: #ccccd3;
  --clr-gray: #80858b;
  --clr-purple-pink: #53354a;
  --clr-red: #e84545;
  --clr-purple-lighter: #3a3e64;
  --clr-purple-dark: #313454;
}
*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  font-family: var(--ff-primary);
}
ul {
  list-style: none;
  padding: 0;
}
section,
header{
  padding: 20px;
}
.container {
  max-width: 1175px;
  margin: 0 auto;
}
.hamburger {
  background-color: var(--clr-red);
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.hamburger span {
  width: 23px;
  height: 3px;
  background-color: var(--clr-white);
  display: block;
  position: relative;
}
.hamburger span::before {
  content: '';
  width: 23px;
  height: 3px;
  background-color: var(--clr-white);
  position: absolute;
  top: -8px;
}
.hamburger span::after {
  content: '';
  width: 23px;
  height: 3px;
  background-color: var(--clr-white);
  position: absolute;
  top: 8px;
}
.btn {
  font-size: 15px;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-white);
  background-color: var(--clr-red);
  border: none;
  padding: 24px 50px;
  border-radius: 3px;
  cursor: pointer;
}
.socials {
  display: flex;
  justify-content: space-evenly;
}
.socials__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: 1px solid var(--clr-gray-light);
  cursor: pointer;
}
.socials__container:hover {
  border: 1px solid var(--clr-gray);
}
.socials i {
  color: var(--clr-gray-light);
}

/* header */
.header {
  min-height: 100vh;
  background: url('images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__content {
  margin-bottom: 60px;
}
.logo {
  max-width: 230px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 35px 0;
  border-bottom: 1px solid var(--clr-gray);
}
.nav__list {
  display: none;
}
.home {
  text-align: center;
  color: var(--clr-white);
  padding-bottom: 230px;
}
.home__content {

}
.home__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: var(--ff-secondary);
}
.home__desc {
  font-size: 1.25rem;
  color: rgba(255,255,255, .8);
  margin-bottom: 100px;
}
.home button {
  
}
/* features section */
.features {
  padding: 120px 40px;
}
.features__content {
  text-align: center;

}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature + .feature {
  margin-top: 60px;
}
.feature__img-container {
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
}
.feature__img {
  
}
.feature__title {
  text-transform: uppercase;
  color: var(--clr-black);
  font-size: 1rem;
  margin-bottom: 15px;
}
.feature__desc {
  color: var(--clr-gray);
  line-height: 1.4;
}
/* gallery */
.gallery {
  padding: 0;
}

/* team section */
.team {

}
.team__content {
  padding: 120px 40px;
}
.member {
  text-align: center;
}
.member + .member {
  margin-top: 65px;
}
.member__name {
  font-weight: 500;
  color: var(--clr-black);
  margin: 10px 0;
}
.member__role {
  color: var(--clr-red);
  font-size: .9375rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: block;
}
.member__desc {
  color: var(--clr-gray);
  margin-bottom: 45px;
}
/* quotes */
.quotes {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: var(--clr-white);
}
.quotes__img {
  
}
.slider-container {
  background-color: var(--clr-purple-pink);
  padding-bottom: 25px;
}
.slider {
  
}
.slider__text {
  padding: 35px 20px 0 20px;
  margin-bottom: 90px;
}
.slider__quote {
  font-family: var(--ff-cardo);
  font-size: 1.875rem;
  margin-bottom: 35px;
}
.slider__author {
  font-family: var(--ff-secondary);
  font-weight: 700;
}
.slider__dots{
  display: flex;
  justify-content: center;
}
.slider__dot {
  height: 15px;
  width: 15px;
  background-color: var(--clr-gray);
  border-radius: 50%;
  cursor: pointer;
}
.slider__dot + .slider__dot {
  margin-left: 12px;
}
.slider__dot--active {
  background-color: var(--clr-white);
}
/* download section */
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--clr-black);
  padding: 110px 58px;
}
.download__title {
  font-size: 2.0625rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.download__subtitle {
  font-size: 1.0625rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
}
.download button {

}
